<div class="panel panel-default" style="margin-top: 10px;">
<div class="container-fluid bg-3 text-center" style="margin: 10px;">   
  <div class="row">
    <div class="col-sm-2">
      <div class="panel-body" style="font-size: 50px;">Dailyplan</div>
      <input type="hidden" class="form-control" name="projectName" id="projectName" value="#{@projectName}">
      <input type="hidden" class="form-control" name="projectDays" id="projectDays" value="#{@projectDays}">
      <input type="hidden" class="form-control" name="userEmail" id="userEmail" value="#{@userEmail}">
      <input type="hidden" class="form-control" name="nthday" id="nthday" value="#{@nthday}">
      <input type="hidden" class="form-control" name="project_id" id="project_id" value="#{@project_id}">
      <audio id="my_audio" src="super.mp3" loop="loop"></audio>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <div class="panel-body" style="font-size: 20px; position: absolute; left: 0;">Schedule for your trip!</div>
    </div>
    <div class="col-sm-3">
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-1">
      <button type="button" class="btn btn-primary">Logout</button>
    </div>
  </div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <h style="font-size: 20px;"> Current Schedule </h>
      </div>
      <div class="row">
      <hr>
      </div>
      <div class="row">
        <div class="col-md-8">
          <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#Start">Start</button>
          <div id="Start" class="collapse">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <div class="panel panel-default" id="sitesarea" style="margin-top: 15px; margin-left: 10px;">
            <div class="panel-body"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#End">End</button>
          <div id="End" class="collapse">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
    <div class="col-md-6">
        <div class="row">
          <label for="text">Site Search bar:</label>
        </div>
        <div class="row">
          <div class="col-md-9">
            <div class="form-group">
              input{
                type="text" 
                class="form-control" 
                id="searchSite"
              } 
              br/
              button.btn.btn-default class="pull-right" id="findParkbtn"style="position: relative; margin-left: auto; margin-right: auto;
                height: 50px;
                border-radius: 5px;
                cursor: pointer;" PARK
              button.btn.btn-default class="pull-right" id="findFunbtn"style="position: relative; margin-left: auto; margin-right: auto;
                height: 50px;
                border-radius: 5px;
                cursor: pointer;" FUN
              button.btn.btn-default class="pull-right" id="findResturantbtn"style="position: relative; margin-left: auto; margin-right: auto;
                height: 50px;
                border-radius: 5px;
                cursor: pointer;" RESTAURANT


div class="pager" style="position: fixed; width: 100%; bottom: 4%; left: 0;"
	button.btn.btn-primary class="CANCEL" id="target_cancel" type="button" style="position: absolute;
	  top: 1%;
	  left: 0;
	  margin-left: 3%;
	  border-radius: 5px;
	  margin: 5px;
	  cursor: pointer;" CANCEL
	button.btn.btn-primary class="SAVE" id="target_save" type="button" style="position: absolute;
	  top: 1%;
	  right: 0;
	  margin-right: 3%;
	  border-radius: 5px;
	  margin: 5px;
	  cursor: pointer;" SAVE
include :addtarget_find_partial
