<div class="panel panel-default" style="position: relative; margin-top: 20%; width: 50%; margin-left: 25%;">
    <div class="container-fluid bg-3 text-center" style="margin: 10px;">   
      <div class="row">
        <div class="col-sm-12">
          <div class="panel-body" style="font-size: 50px;">Time_Traveler</div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="panel-body" style="font-size: 20px;">Arrange your trip!</div>
        </div>
      </div>
      <div class="row">
        <button class="btn btn-success" data-toggle="collapse" data-target="#demo" style="margin: 5px;" name = "HaveAccount">HaveAccount</button>
        <button class="btn btn-success" data-toggle="collapse" data-target="#demo2" style="margin: 5px;" name = "New">New</button>
        <div id="demo" class="collapse">
        <hr>
        <form action="/login" method='get'>
          <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" name="userEmail" id="userEmail1" style="width: 50%; margin-left: 25%;" placeholder="example@mail.com">
          </div>
          <button type="submit" class="btn btn-primary" name = "btn_login">Log In</button>
        </form>
        </div>
        <div id="demo2" class="collapse">
        <hr>
        <form action="/newUser" method='post'>
          <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" name="userEmail" id="userEmail2" style="width: 50%; margin-left: 25%;" placeholder="example@mail.com">
          </div>
          <button type="submit" class="btn btn-primary" name = "btn_newUser">Create</button>
        </form>
        </div>
      </div>
    </div>
</div>
