<div class="panel panel-default" style="margin-top: 10px;">
<div class="container-fluid bg-3 text-center" style="margin: 10px;">   
  <div class="row">
    <div class="col-sm-1">
      <div class="panel-body" style="font-size: 50px;">Time_Traveler</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <div class="panel-body" style="font-size: 20px;">Hi, @account!</div>
    </div>
    <div class="col-sm-8">
    </div>
    <div class="col-sm-1">
      <button type="button" class="btn btn-primary">Create</button>
    </div>
    <div class="col-sm-1">
      <button type="button" class="btn btn-primary">Logout</button>
    </div>
  </div>
</div>
</div>